<!DOCTYPE html>
<html ng-app="ionic.example">
  <head>
    <meta charset="utf-8">
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  </head>
  <body ng-controller="MapCtrl">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Map</h1>
      <div class="search-bar">
        <input type="text" ng-model="searchQuery" placeholder="Enter location">
        <button ng-click="searchLocation()">
          <i class="ion-ios-search-strong"></i>
        </button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar>
    <style>
      #map {
        width: 100%;
        height: 100vh; /* Ensure the map takes full viewport height */
      }

      .scroll {
        height: 100%;
      }

      .search-bar {
        display: flex;
        align-items: center;
        margin: 0 10px;
      }

      .search-bar input {
        flex: 1;
        padding: 5px;
        margin-right: 5px;
      }

      .search-bar button {
        padding: 5px;
        background: none;
        border: none;
        color: white;
      }

      .search-bar button i {
        font-size: 20px;
      }
    </style>
    <script>
      angular.module('ionic.example', ['ionic'])
        .controller('MapCtrl', function($scope, $ionicLoading, $compile, $http) {
          var markers = [];
          var distances = [];

          function initialize() {
            var myLatlng = [43.07493, -89.381388];
            
            var map = L.map('map').setView(myLatlng, 16);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            $scope.map = map;
          }
          initialize();

          function calculateDistance(latlng1, latlng2) {
            var from = L.latLng(latlng1);
            var to = L.latLng(latlng2);
            return from.distanceTo(to);
          }

          $scope.centerOnMe = function() {
            if (!$scope.map) {
              return;
            }

            $scope.loading = $ionicLoading.show({
              content: 'Getting current location...',
              showBackdrop: false
            });

            navigator.geolocation.getCurrentPosition(function(pos) {
              var newLatLng = [pos.coords.latitude, pos.coords.longitude];
              $scope.map.setView(newLatLng, 16);

              if (markers.length > 0) {
                var lastMarker = markers[markers.length - 1].getLatLng();
                var distance = calculateDistance(lastMarker, newLatLng);
                distances.push(distance);
                alert('Distance to last marker: ' + (distance / 1000).toFixed(2) + ' km');
              }

              var marker = L.marker(newLatLng).addTo($scope.map);
              markers.push(marker);

              $scope.loading.hide();
            }, function(error) {
              alert('Unable to get location: ' + error.message);
            });
          };

          $scope.searchLocation = function() {
            if (!$scope.searchQuery) {
              return;
            }

            var searchUrl = 'https://nominatim.openstreetmap.org/search?format=json&q=' + encodeURIComponent($scope.searchQuery);

            $http.get(searchUrl).then(function(response) {
              if (response.data.length > 0) {
                var location = response.data[0];
                var latlng = [location.lat, location.lon];
                $scope.map.setView(latlng, 16);

                var marker = L.marker(latlng).addTo($scope.map)
                  .bindPopup("Location: " + location.display_name)
                  .openPopup();

                markers.push(marker);

                if (markers.length > 1) {
                  var lastMarker = markers[markers.length - 2].getLatLng();
                  var distance = calculateDistance(lastMarker, latlng);
                  distances.push(distance);
                  alert('Distance to last marker: ' + (distance / 1000).toFixed(2) + ' km');
                }
              } else {
                alert('Location not found');
              }
            }, function(error) {
              alert('Error searching location: ' + error.message);
            });
          };

          $scope.clickTest = function() {
            alert('Example of infowindow with ng-click');
          };
        });
    </script>
  </body>
</html>
